/*Actual body*/

#csbody {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

#calldata {
}

/*Actual subbody*/

#biodata {
  color: white;
  margin-bottom: 4rem;
}

#t_bio.biodiv {
  background-color: #101010;
  padding: 0;
}


#header {
/*    ;*/
  background-image: url("https://static.qrz.com/c/xx1abc/MyBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #181818;
  display: grid;
  place-items: center;
  min-height: 20vh;
}

#header  * {
  text-align: center;
}


#realbody {
  background-color: #101010;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  min-width: 300px;
  max-width: 700px;
  margin: 0 auto;
}

#t_bio.biodiv {background-color:#101010}

#razar_wrapper {
  margin: -1.3125em -1.7125em;
  padding: -5px;
  line-height: 1.8;
  font-family: "Montserrat", sans-serif;
}

#razar_wrapper p {
  font-size: 1rem;

}



#body_infocards {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  
}

#body_infocards  div {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.blocked-text {
  background: #282828;
  border-radius: 8px;
  padding: 3rem;
  margin: 0;
}

#body_infocards div span {
  background: white;
  border-radius: 100%;
  padding: 2rem;
  color: black;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  width: 6rem;
  display: grid;
  place-items: center;
}

#body_infocards div span img {
  width: 4rem;
  height: 4rem;
}

#body_background {
  
}

.alerts {
  padding: 1rem 4rem;
  background: #d0e4fc;
  color: #0064b8;
}